{% extends "biblioteka\base.html" %}

{% block title %}{{book.title}} by {{book.author}}{% endblock %}

{% block content %}
<p>Tytuł: {{book.title}}</p>
<p>Miesiąc publikacji: {{book.publication_month}}</p>
<p>Format: {{book.book_format}}</p>
<p>Autor: {{book.author}}</p>
<p>Gatunek: {{book.genre}}</p>
<p>Dostępne kopie: {{book.available_copies}}</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć tą książkę?');">
        Usuń książkę
    </button>
</form>
<hr>
{% endblock %}