{% extends "biblioteka\base.html" %}

{% block title %}Dodaj nową osobę{% endblock %}

{% block content %}
<h1>Dodaj nową osobę</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="imie">Imię:</label>
        <input type="text" id="imie" name="imie"><br><br>

        <label for="nazwisko">Nazwisko:</label>
        <input type="text" id="nazwisko" name="nazwisko"><br><br>

        <label for="plec">Płeć:</label>
        <select id="plec" name="plec">
            <option value="1">kobieta</option>
            <option value="2">mężczyzna</option>
            <option value="3">inna</option>
        </select><br><br>

        <label for="stanowisko">Stanowisko:</label>
        <select id="stanowisko" name="stanowisko">
            {% for s in stanowiska %}
                <option value="{{ s.id }}">{{ s.nazwa }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Zapisz</button>
    </form>
{% endblock %}